body {
	margin: 10%;
    font-family: Arial, sans-serif;
    text-align: center;
}

h2 {
    margin-top: 30px;
    font-family: cursive;
    font-weight: bolder;
}

.converter {
    margin-top: 20px;
}

input, select, button {
    margin: 5px;
    padding: 5px;
}

#result {
    font-weight: bold;
}
.value-container {

	display:block;
	margin: 25px 50px;
	
}
.container{
	background-color: cyan;

}